<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-create" (click)="createDepartment()">
        <i class="fas fa-hand-paper"></i> Crear
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Personas Naturales</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-1">ID</th>
                <th class="col-2">Nombre</th>
                <th class="col-2">Cédula</th>
                <th class="col-2">Fecha de Nacimiento</th>
                <th class="col-2">Cliente ID</th>
                <th class="col-2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actual of personaNatural">
                <td>{{actual._id}}</td>
                <td>{{actual.nombre}}</td>
                <td>{{actual.cedula}}</td>
                <td>{{actual.fecha_nacimiento | date:'yyyy-MM-dd'}}</td>
                <td>{{actual.cliente_id}}</td>
                <td>
                  <button class="btn btn-view btn-sm" (click)="viewDepartment(actual._id)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button class="btn btn-delete btn-sm" (click)="deleteDepartment(actual._id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button class="btn btn-update btn-sm" (click)="updateDepartment(actual._id)">
                    <i class="fas fa-user-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
