<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode === 1">Visualizar</h3>
          <h3 *ngIf="mode === 2">Crear</h3>
          <h3 *ngIf="mode === 3">Actualizar</h3>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-4">Id:</div>
              <div class="col-8"><input type="text" class="form-control" [(ngModel)]="producto.id" disabled> </div>
            </div>
            <form [formGroup]="theFormGroup">
              <div class="row">
                <div class="col-4">Nombre:</div>
                <div class="col-8">
                  <input type="text" class="form-control" [(ngModel)]="producto.nombre" [disabled]="mode==1"
                    formControlName="nombre">
                  <br>
                  <div
                    *ngIf="getTheFormGroup.nombre.errors &&(getTheFormGroup.nombre.dirty|| getTheFormGroup.nombre.touched)">
                    <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.nombre.errors.minlength||getTheFormGroup.nombre.errors.maxlength"
                      class="msnError">invalido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">Cliente_id</div>
                <div class="col-8">
                  <input type="text" class="form-control" [(ngModel)]="producto.cliente_id" [disabled]="mode==1" formControlName="cliente_id">
                  <br>
                  <div
                    *ngIf="getTheFormGroup.nombre.errors &&(getTheFormGroup.nombre.dirty|| getTheFormGroup.nombre.touched)">
                    <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.nombre.errors.minlength||getTheFormGroup.nombre.errors.maxlength"
                      class="msnError">invalido</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">Ruta_id</div>
                <div class="col-8">
                  <input type="text" class="form-control" [(ngModel)]="producto.lote_id" [disabled]="mode==1"
                    formControlName="lote_id">
                  <br>
                  <div
                    *ngIf="getTheFormGroup.nombre.errors &&(getTheFormGroup.nombre.dirty|| getTheFormGroup.nombre.touched)">
                    <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.nombre.errors.minlength||getTheFormGroup.nombre.errors.maxlength"
                      class="msnError">invalido</strong>
                  </div>
                </div>
              </div> 
            </form>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-create btn-block">Crear</button>
                <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-update btn-block">Actualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>