<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode === 1">visualizar</h3>
          <h3 *ngIf="mode === 2">crear</h3>
          <h3 *ngIf="mode === 3">actualizar</h3>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-4">
                Id:
              </div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="departamento.id" disabled>
              </div>
            </div>
            <form [formGroup]="theFormGroup">

            <div class="row">
              <div class="col-4">
                Nombre:
              </div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="departamento.nombre"
                 [disabled]="mode==1" formControlName="nombre">

                 <br>
                 <div
                 *ngIf="getTheFormGroup.nombre.errors &&(getTheFormGroup.nombre.dirty|| getTheFormGroup.nombre.touched)">
                <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                <strong *ngIf="getTheFormGroup.nombre.errors.minlength||getTheFormGroup.nombre.errors.maxlength" class="msnError">invalido</strong>


                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-4">
              ciudades:
            </div>
            <div class="col-8">
              <select class="form-control" formControlName="idCiudad">
                <option>option1</option>
              </select>
            </div>
          </div>
        </form>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-create btn-block">crear</button>
                <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-update btn-block">actualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
