/* Agrega estas reglas en el archivo CSS de tu componente, por ejemplo navbar.component.css */

.navbar {
    background: linear-gradient(to right, #ffffff, #000000); /* Degradado de blanco a negro */
    color: #fff; /* Asegura que el texto sea visible */
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ddd !important;
}

.input-group-prepend .input-group-text, .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
}

.input-group-prepend .input-group-text {
    border-radius: 0.25rem 0 0 0.25rem;
}

.form-control {
    border-radius: 0 0.25rem 0.25rem 0;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
}
