/* From Uiverse.io by Jedi-hongbin */ 
.myButton {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   .myButton > i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .myButton:hover > i {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .myButton:hover {
    box-shadow: 9px 9px 33px #be0808, -9px -9px 33px #e01818;
    transform: translateY(-2px);
   }